.wrapper {
  display: flex;
  min-height: 100vh;
  .right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .views {
      padding: 16px;
      min-height: calc(100vh - 120px);
    }
  }
}
