@import "../../scss/variables";

.headerContainer {
  background-color: lighten($white, 80%);
  min-height: 60px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba($black, 0.5);
}
